.filterDisplay {
    display: grid;
    grid-template-rows: 450px 350px;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    
}

.mainfilter {
    padding: 20px;
    /* width: 100%; */
}

.mainfilter h3{
    text-align: center;
    padding: 20px 0;
}

.filterDisplay2 {
    width: 100%;
}