.log{
    margin: 5% 10%;
    padding: 10px;
    border: 1px solid gray;
  }
  
  .log p {
    text-align: center;
    font-size: 1.5rem;
  }
  
  @media screen and (min-width: 600px) {
    .log{
      margin: 12% 24%;
    }
  }